Source: camx-dev
Section: non-free/libdevel
Maintainer: Agathe Porte <agathe.porte@oss.qualcomm.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.4
Homepage: http://support.cdmatech.com
Vcs-Browser: https://github.com/qualcomm-linux/pkg-camx-dev
Vcs-Git: https://github.com/qualcomm-linux/pkg-camx-dev.git

Package: libcamx-dev
Architecture: arm64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm CamX camera stack (development files)
 Target agnostic package for all camx headers
