Source: camx-dev
Section: non-free/libdevel
Maintainer: Agathe Porte <agathe.porte@oss.qualcomm.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.4
Homepage: http://support.cdmatech.com
Vcs-Browser: https://github.com/qualcomm-linux/pkg-camx-dev
Vcs-Git: https://github.com/qualcomm-linux/pkg-camx-dev.git

Package: libcamx-dev
Architecture: all
Depends:
 ${misc:Depends},
Description: Qualcomm CamX camera stack (development files)
 Target agnostic package for all CamX headers, containing:
 .
  * /usr/include/camx-v1/
  * /usr/include/camx-v2/

Package: camx-server-runtime-all
Architecture: arm64
Depends:
 libcamx-glymur1,
 libcamx-hamoa1,
 ${misc:Depends},
Description: Qualcomm CamX libraries for camera service (metapackage)
 This package installs all of the available implementations for the CamX camera
 service.
