#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
ifeq ($(DEB_HOST_ARCH),arm64)
	mkdir -p debian/tmp
	cp -a libcamx-dev/arm64/* debian/tmp/
	rm -rf $(CURDIR)/debian/tmp/usr/share/doc
endif
	:

maintainerclean:
	rm -r libcamx-dev/
